.account-pages{
    min-height: 100vh;
    background-color : #F4F7FC
}
.card {
    border: none;
    /* background-color: #F5EBEB; */
    border-radius: 24px;
}

.login-header{
    background-color: #d5ebff;
}
a{
    color : #5793ff;
}