<!-- Nav Bar -->
<div class="main pt-4 pb-3">
    <div class="container">
        <app-nav-bar></app-nav-bar>

        <!-- Tab Start -->
        <div class="row">
            <div class="col-12 col-lg-6 mt-4">
                <div class="row">
                    <ul class="text-center col-12 col-lg-12">
                        <li *ngFor="let tab of tabs">
                          <a 
                            [ngClass]="{'active-tab': tabValue === tab.value}"
                            (click)="tabChange(tab.value)">
                            {{ tab.label }}
                          </a>
                        </li>
                      </ul>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div [hidden]="tabValue !== 'general'">
                            <app-general></app-general>
                        </div>
                        <div [hidden]="tabValue !== 'social'">
                            <app-social></app-social>
                        </div>
                        <div [hidden]="tabValue !== 'design'">
                            <app-design></app-design>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab End -->
            <div class="col-12 col-lg-6 mt-lg-4">
                <app-signature-preview></app-signature-preview>
            </div>
        </div>
    </div>
</div>


