
/* Tab Style Start */
    .color{
        color:#DD2022
    }
    ul {
        margin: 6;
        padding: 0;
    }
    ul, li {
        display:inline-block;
    }
    li a {
        display: block;
        color: #0c0909;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 40px;
    }

    /* Change the link color on hover */
    li a:hover {
        background-color: #6385ce;
        color: #fff;
    }
    .icon {
        margin-right: 10px;
    }

