
/* Tab Style Start */
    
    ul {
        margin: 6;
        padding: 0;
    }
    ul, li {
        display:inline-block;
    }
    li a {
        display: block;
        color: #072AC8;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 40px;
    }

    /* Change the link color on hover */
    li a:hover,li a.active-tab {
        background-color: #6385ce;
        color: #fff;
        font-weight: 600;
    }
    .icon {
        margin-right: 10px;
    }

