<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-12">
            <div class="card overflow-hidden shadow p-3 mb-5 rounded border-primary">
                <div class="card-body pt-0" >
                    <div class="p-2">
                        <form class="needs-validation" name="registerForm" [formGroup]="generalForm">
                            <h5>Personal Details</h5>
                            <div class="mb-3 row col-md-12">
                                <div class="col-md-4">
                                    <label for="name" class="form-label">First Name</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="fName" class="form-control" id="name" placeholder="Enter first name" [ngClass]="{'is-invalid': generalForm.get('fName')?.invalid && generalForm.get('fName')?.touched}" />
                                    <div *ngIf="generalForm.get('fName')?.invalid && generalForm.get('fName')?.touched" class="invalid-feedback">
                                        <small *ngIf="generalForm.get('fName')?.errors?.['minlength']">First Name must be at least 3 characters.</small>
                                        <small *ngIf="generalForm.get('fName')?.errors?.['maxlength']">First Name cannot exceed 30 characters.</small>
                                    </div>
                                </div>
                            </div>   
                            <div class="mb-3 row col-md-12">
                                <div class="col-md-4">
                                    <label for="lastName" class="form-label">Last Name</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="lName" class="form-control" id="lastName" placeholder="Enter last name" [ngClass]="{'is-invalid': generalForm.get('lName')?.invalid && generalForm.get('lName')?.touched}"/>
                                    <div *ngIf="generalForm.get('lName')?.invalid && generalForm.get('lName')?.touched" class="invalid-feedback">
                                        <small *ngIf="generalForm.get('lName')?.errors?.['minlength']">Last Name must be at least 3 characters.</small>
                                        <small *ngIf="generalForm.get('lName')?.errors?.['maxlength']">Last Name cannot exceed 30 characters.</small>
                                    </div>
                                </div>
                            </div>    
                            <!-- Position -->
                            <div class="mb-3 row col-md-12">
                                <div class="col-md-4">
                                    <label for="position" class="inline-block mb-2">Position</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="position" class="form-control" id="position" placeholder="Enter position" [ngClass]="{'is-invalid': generalForm.get('position')?.invalid && generalForm.get('position')?.touched}"/>
                                    <div *ngIf="generalForm.get('position')?.invalid && generalForm.get('position')?.touched" class="invalid-feedback">
                                        <small *ngIf="generalForm.get('position')?.errors?.['minlength']">Position name must be at least 3 characters.</small>
                                        <small *ngIf="generalForm.get('position')?.errors?.['maxlength']">Position name cannot exceed 30 characters.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row col-md-12">
                                <div class="col-md-4">
                                    <label for="email" class="form-label">Email</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter Email" [ngClass]="{'is-invalid': generalForm.get('email')?.invalid && generalForm.get('email')?.touched}"/>
                                    <div *ngIf="generalForm.get('email')?.invalid && generalForm.get('email')?.touched" class="invalid-feedback">
                                        <small *ngIf="generalForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
                                    </div>
                                </div>
                            </div>    
                            <div class="mb-3 row col-md-12">
                                <div class="col-md-4">
                                    <label for="number" class="form-label">Mobile Number</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="mobileNo" class="form-control" id="number" placeholder="Enter Mobile Number" [ngClass]="{'is-invalid': generalForm.get('mobileNo')?.invalid && generalForm.get('mobileNo')?.touched}"/>
                                    <div *ngIf="generalForm.get('mobileNo')?.invalid && generalForm.get('mobileNo')?.touched" class="invalid-feedback">
                                        <small *ngIf="generalForm.get('mobileNo')?.errors?.['pattern']">Please enter a valid 10-digit mobile number.</small>
                                    </div>
                                </div>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>